* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    width: 500px;
    background: #054785;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    font-family: Helvetica;
    color: aliceblue;
    border-radius: 10px;
}
input{
    color: azure;
}
#max25{
    margin-top: -20px;
    color: red;
    margin-left: 50px;
<<<<<<< Updated upstream
=======
    display: none;
}
#ui-activo {
     display: block;
>>>>>>> Stashed changes
}
#obligatorio{
    margin-top: -20px;
    color: red;
    margin-left: 50px;
}
#max20{
    margin-top: -20px;
    color: red;
    margin-left: 50px;
}
#pclave{
    margin-top: -20px;
    color: red;
    margin-left: 50px;
}
#min10{
    margin-top: -20px;
    color: red;
    margin-left: 50px;
}
#caracter{
    margin-top: -20px;
    color: red;
    margin-left: 50px;
}
#min15{
    margin-top: -20px;
    color: red;
    margin-left: 50px;
}
#contraseña{
    margin-top: -20px;
    color: red;
    margin-left: 50px;
}
#igual{
    margin-top: -20px;
    color: red;
    margin-left: 50px;
}
#max120{
    margin-top: -20px;
    color: red;
    margin-left: 50px;
}
#email{
    margin-top: -20px;
    color: red;
    margin-left: 50px;
}